<%- include('./../partials/header'); %>

<h1>
    <%= pageTitle %>
</h1>

    <p>
        <%= item.bank_name %>
    </p>
    <p>
        <img src="<%= item.img_url %>"/>
    </p>
    <p>
        <%= item.card_name %>
    </p>
    <p>
        <%= item.description %>
    </p>
    <p>
        <%= item.max_cap %>
    </p>
    <p>
        Total Amount: <%= Number(cardSpent[0].amount).toFixed(2) %>
    </p>

    <ul>
        <% expItem.forEach(expense => { %>
            <li>
                <p>
                    <%= moment(expense.date).format("D MMM YY") %>
                </p>
                <p>
                    <a href="/expenses/<%= expense.slug %>"><%= expense.description %></a>
                </p>
                <p>
                    <%= Number(expense.amount).toFixed(2) %>
                </p>
            </li>
        <% }) %>
    </ul>

    <a class="btn btn-primary" href="/cards">Back</a>

<%- include('./../partials/footer'); %>