<%- include('./../partials/header'); %>

<div class="container">

    <div class="title-wrapper has-text-centered ejsTitle">
        <h2 class="title is-2">
            <%= pageTitle %>
        </h2>
        <div class="divider is-centered"></div>
    </div>

    <div class="columns is-centered">
        <div class="column is-narrow">
            <div class="box">

                <form action="/expenses/<%= itemID %>?_method=PATCH" method="POST">
                    <div class="field">
                        <label class="date has-text-weight-bold">Date</label>
                        <div class="control">
                            <input type="text" class="input" placeholder="DD MMM YYYY (eg: 01 Jan 2020)" name="date" id="date" value="<%= moment(item.date).format("D MMM YY") %>">
                        </div>
                    </div>

                    <div class="field">
                        <label class="description has-text-weight-bold">Description</label>
                        <div class="control">
                            <input type="text" class="input" name="description" id="description" value="<%= item.description %>">
                        </div>
                    </div>

                    <div class="field">
                        <label class="amount has-text-weight-bold">Amount</label>
                        <div class="control">
                            <input type="text" class="input" name="amount" id="amount" value="<%= item.amount %>">
                        </div>    
                    </div>

                    <div class="field">
                        <label class="remarks has-text-weight-bold">Remarks</label>
                        <input class="input" name="remarks" id="remarks" value="<%= item.remarks %>">
                    </div>

                    <button type="submit" class="button secondary-btn is-rounded">Submit</button>
                </form>


            </div>
        </div>
    </div>
</div>


<%- include('./../partials/footer'); %>